.error {
    margin: 0 auto;
    text-align: center;
}

.error-code {
    bottom: 60%;
    color: #0268a6;
    font-size: 280px;
    line-height: 350px;
}

.error-desc {
    font-size: 14px;
    color: #36424c;
}

.error-code a{
    opacity: 1;
}

.error i.fa-warning:hover, .error .error-code:hover{
    color: #a52026;
}

.error-code {
    -webkit-transition: width 2s, height 2s, -webkit-transform 1s; /* Safari */
    transition: width 2s, height 2s, transform 1s;
}

.error:hover .error-code {
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
