.template_colors{
    color: #2e3373;/*sub-main*/
    color: #00e3ff;/*main*/
    color: #f15722;/*result-block*/
    color: #a52026;/*gradient-result-block ()*/
    color: #d7e1eb;/*background(whitecap)*/
    color: #0268A6;/*background(royal blue)*/
}