body {
    /* Location of the image */
    background-image: url(/images/static/back-coffee.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    margin-bottom: 90px;
}
/* Title of page */
.section-top{
    text-align: center;
}

.section-top h1{
    font-family: 'Baloo', cursive;
}

/*First section(questions)*/
.panel-primary > .panel-heading {
    background-image: -webkit-linear-gradient(top, #00e3ff 0%, #2e3373 100%);
    background-image: -o-linear-gradient(top, #00e3ff 0%, #2e3373 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00e3ff), to(#2e3373));
    background-image: linear-gradient(to bottom, #00e3ff 0%, #2e3373 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e3ff', endColorstr='#2e3373', GradientType=0);
    background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #00e3ff;
    border-color: #00e3ff;
}

.panel-success > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f15722 0%, #a52026 100%);
    background-image: -o-linear-gradient(top, #f15722 0%, #a52026 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f15722), to(#a52026));
    background-image: linear-gradient(to bottom, #f15722 0%, #a52026 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15722', endColorstr='#a52026', GradientType=0);
    background-repeat: repeat-x;
}
.panel-success > .panel-heading {
    color: #fff;
}

.panel-info > .panel-heading {
    background-image: -webkit-linear-gradient(top, #00e3ff 0%, #0268A6 100%);
    background-image: -o-linear-gradient(top, #00e3ff 0%, #0268A6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00e3ff), to(#0268A6));
    background-image: linear-gradient(to bottom, #00e3ff 0%, #0268A6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e3ff', endColorstr='#0268A6', GradientType=0);
    background-repeat: repeat-x;
}
.panel-info > .panel-heading {
    color: #fff;
}

.result-row, .result-footer .count{
    text-align: center;
}
.result-row .fa{
    font-size: 2.0em;
}
.section-result{
    color: #2e3373;
}
.panel-success .panel-body{
    background: #d7e1eb;
}
.panel-success {
    border-color: #f15722;
}
.result-footer{display: none}

.result-footer .count{
    font-size: 1.25em;
    font-family: 'Baloo', cursive;
}
.section-first h4 i.fa{
    margin: 0 10px 0 0;
}
.section-first h4, .current-block h4{
    font-size: 2.0em;
    font-family: 'Baloo', cursive;
}

.section-first .question h4{
    cursor: pointer;
}
/*checkbox*/
.question input[type="checkbox"] {
    visibility: hidden;
}
.question label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #00e3ff;
    display: inline;
}
.question label span{
    color: #AAAAAA;
    display: inline;
}
.question label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
.question label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
.question label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o, .question label input[type="checkbox"]:checked ~ span{
    color: #2e3373;
    display: inline;
}
.question label:hover input[type="checkbox"] ~ i.fa, .question label:hover span {
    color: #00e3ff;
}
.question label span {
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    -webkit-transition: all 0.25s linear;
}

/*radio buttons*/
.section-first input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.section-result p{
    font-family: 'Marvel', sans-serif;
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
}

.section-first .container ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-first ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    width: 100%;
}

.section-first ul li label{
    font-family: 'Marvel', sans-serif;
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 10px 10px 50px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.section-first ul li:hover label{
    color: #00e3ff;

}

.section-first ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #00e3ff;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 10px;
    left: 15px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.section-first ul li:hover .check {
    border: 4px solid #00e3ff;
}

.section-first ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.section-first input[type=radio]:checked ~ .check {
    border: 4px solid #2e3373;
}

.section-first input[type=radio]:checked ~ .check::before{
    background: #2e3373;
}

.section-first input[type=radio]:checked ~ label{
    color: #2e3373;
}

/*items*/
.section-second{
    margin-top: 30px;
}

.section-second .thumbnail{
    border: none;
}

.section-second .thumbnail {
    position:relative;
    overflow:hidden;
}

.section-second .caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

/*current item*/
.current-block .current-block-image{
    margin:.5em 10px .5em 0;
    overflow:hidden; /* this is important */
}

.current-block img.milling{
    position: absolute;
    bottom: 5%;
    right: 5%;
    border: 2px solid black;
    box-shadow: black;
    padding: 3px;
    width: 25%;
}
.current-block .taste{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width:35%;
    text-align: left;
}
.current-block .taste .taste-value{
    color: red;
    margin-left: 5px;
}
.current-block .progress-bar {
    text-align: left;
}

.current-block .coffee-image{
    margin:-125px 0;
}

/*Contact Us*/
.contact-us{
    margin-top: -15px;

}
.contact-us-form{
    padding: 5px 10px;
}
.contact-us-form h2, .contact-us-form h5{
    text-align: center;
}
.contact-us-inner{
    margin-top: 15px;
}
.help-inline {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.text-wrap{
    text-align: right;
}
.control-label{
    color: #2e3373;
    padding-top: 5px;
}
.span6, .span11{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.span11{
    height: 100px;
}

/*about page*/
.about-container blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.about-container blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.about-container p {
    color: navy;
}
.about-container h4{
    color: #00e3ff;
    font-weight: bold;
    text-align: center;
}
.about-container li{
    color: navy;
}

@media (max-width: 767px) {
    .current-block .coffee-image{
        margin:-40px 0;
    }
    ul {
        -webkit-padding-start: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .current-block .coffee-image{
        margin:-50px 0;
    }
    ul {
        -webkit-padding-start: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
