<!DOCTYPE html>

<html ng-app="CofenatorApp">
<head>
    <title>Coffeenator App</title>
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/js/libs/angular.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/masonry.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<!--menu-->
<div class="header_top"></div>
<div class="menu">
    <header class="container">
        <div class="navbar navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="closepage" menuid="0" class="brand" href="#" followlink="true">Cofinator</a>
                </div>
                <div class="collapse navbar-collapse pull-right" id="main-menu">
                    <ul class="nav">
                        <li class="fadeInDown animated d1 "><a href="#" class="active" id="home" menuid="0"
                                                               followlink="true">Home</a></li>
                        <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true">About</a></li>
                        <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true">Blog</a></li>
                        <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true">Contact Us</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
</div>

<!--end-menu-->
<body ng-controller="MainController" >
    <div class="container">
        <h1>Cofenator has <span class="label label-info">{{coffee.length}}</span> items of coffee</h1>
        <div class="container">
            <div class="col-sm-8 col-md-9">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                                </span>Flavor Additives</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <h4>What flavors do you prefer to add in coffee?</h4>
                                <div ng-repeat="additive in additives">
                                    <flavor-additives additive="additive" choosen="chooseAdditive(additive)"></flavor-additives>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                                </span>SECTION-2</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                BODY SECTION-2
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-th-list">
                                </span>SECTION-3</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                BODY SECTION-3
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-th-list">
                                </span>SECTION-4</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                BODY SECTION-4
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-th-list">
                                    </span>SECTION-5</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                BODY SECTION-5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="panel-group">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Result
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="section-1">
                                <p ng-show="choosenAdditives.length > 0">Flavor Additives: {{choosenAdditives}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section-second">
            <div class="col-xs-6">
                <div class="masonry" data-columns>
                    <!--<div ng-repeat="item in coffee">-->
                    <div ng-repeat="item in filteredCoffee(coffee)">
                        <item-info info="item" on-click="zoomItem(item)"></item-info>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" ng-show="currentZoomItem">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                {{currentZoomItem.name}}
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="thumbnail">
                                <img ng-src="{{currentZoomItem.imageUrl}}" width="100%" alt="{{currentZoomItem.name}}">
                                <img ng-src="{{currentZoomItem.imageMilling}}" class="img-circle milling" alt="{{currentZoomItem.type}}">
                                <div class="taste">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{20 * currentZoomItem.sourness}}%;">
                                            <span class="taste-value">Sourness</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{20 * currentZoomItem.bitterness}}%;">
                                            <span class="taste-value">Bitterness</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{20 * currentZoomItem.fortress}}%;">
                                            <span class="taste-value">Fortress</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{20 * currentZoomItem.saturation}}%;">
                                            <span class="taste-value">Saturation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                {{currentZoomItem.description}}
                            </p>
                            <p>
                                Composition (Arabica/Robusta): {{currentZoomItem.composition}}
                            </p>
                            <p>
                                Combined: <span ng-repeat="add in currentZoomItem.combined">{{add.taste + " "}}</span>
                            </p>
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group">
                                <button type="button" ng-click="hideZoomItem()" class="btn btn-default">Close</button>
                                <button type="button" href="{{currentZoomItem.url}}" class="btn btn-success">Go to the shop!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Frameworks -->
    <script src="/js/libs/salvattore.min.js"></script>
    <!-- Modules -->
    <script src="/js/app.js"></script>
    <!-- Controllers -->
    <script src="/js/controllers/MainController.js"></script>
    <!-- Directives -->
    <script src="/js/directives/itemInfo.js"></script>
    <script src="/js/directives/flavorAdditives.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>
</body>

<style>
    .section-second{
        margin-top: 30px;
    }
    /*items*/
    .thumbnail {
        position:relative;
        overflow:hidden;
    }

    .caption {
        position:absolute;
        top:0;
        right:0;
        background:rgba(66, 139, 202, 0.75);
        width:100%;
        height:100%;
        padding:2%;
        display: none;
        text-align:center;
        color:#fff !important;
        z-index:2;
    }

    /*current item*/
    img.milling{
        position: absolute;
        bottom: 5%;
        right: 5%;
        border: 2px solid black;
        box-shadow: black;
        padding: 3px;
        width: 30%;
    }
    .taste{
        position: absolute;
        bottom: 5%;
        left: 5%;
        width:40%;
        text-align: left;
    }
    .taste .taste-value{
        color: red;
        margin-left: 5px;
    }
    .progress-bar {
        text-align: left;
    }

</style>