<link rel="stylesheet" href="/css/404.css">
<div class="error container" ng-controller="ErrorPageController">
    <div class="error-code">
        <span>4</span>
        <span>0</span>
        <span>4</span>
        <i class="fa fa-warning"></i>
    </div>

    <h3 class="font-bold">We couldn't find the page..</h3>
    <div ></div>

    <div class="error-desc col-xs-offset-2 col-xs-8">
        Sorry, but the page you are looking for was either not found or does not exist. <br/>
        Try refreshing the page or click the button below to go back to the Homepage.
        <div>
            <a class="btn-success btn" href="#!/">
                <i class="fa fa-arrow-left"></i>
                Go back to Homepage
            </a>
        </div>
    </div>
</div>