<link rel="stylesheet" href="/css/404.css">
<script src="/js/libs/svg.min.js"></script>
<script src="/js/pong.js"></script>
<div class="error container" ng-controller="ErrorPageController as errorCtrl">
    <div class="wrap" onclick="resetGame()">
        <button class="clicker faster">Restart Game</button>
        <div class="circle angled third"></div>
    </div>
    <div id="pong"></div>

    <div class="error-desc col-xs-offset-2 col-xs-8">
        Sorry, but the page you are looking for was either not found or does not exist. <br/>
        Try refreshing the page or click the button below to go back to the Homepage.
        <div>
            <a class="btn-success btn" href="#!/">
                <i class="fa fa-arrow-left"></i>
                Go back to Homepage
            </a>
        </div>
    </div>

</div>