<div class="container">
    <img src="/images/static/coffee-cup.jpg" alt="coffee-cup" class="img-responsive">

    <p>Still trying to find the right coffee blend for you? It can be difficult to choose a preferred blend and roast
        and some people try hundreds of different coffees before they find one they truly love.</p>

    <p>That's why this infographic from Sean Seidell is so useful. It looks at the brew, roast and the beans in a cup
        of coffee and offers up advice on finding the right balance between bitter, weak, body, aroma and acidity.</p>

    <p>The chart looks at a good mix of coffees and is a simple way to try and find one to your preference without
        having to drink so much coffee you get Charlie Sheen eyes.</p>

</div>