<div class="container about-container" ng-controller="AboutController">
    <img src="/images/static/coffee-cup.jpg" alt="coffee-cup" class="img-responsive img-thumbnail center-block">
    <div class="col-sm-offset-2 col-xs-10 col-sm-8">
        <h3>Here are 7 reasons why coffee may actually be one of the healthiest beverages on the planet.</h3>

        <reason title="1. Coffee Can Make You Smarter">
            <p>Coffee doesn’t just keep you awake, it may literally make you smarter as well.</p>
            <p>The active ingredient in coffee is caffeine, which is a stimulant and the most commonly consumed psychoactive substance in the world.</p>
            <p>Caffeine’s primary mechanism in the brain is blocking the effects of an inhibitory neurotransmitter called Adenosine.</p>
            <p>By blocking the inhibitory effects of Adenosine, caffeine actually increases neuronal firing in the brain and the release of other neurotransmitters like dopamine and norepinephrine.</p>
            <p>Many controlled trials have examined the effects of caffeine on the brain, demonstrating that caffeine can improve mood, reaction time, memory, vigilance and general cognitive function.</p>
            <blockquote>Bottom Line: Caffeine potently blocks an inhibitory neurotransmitter in the brain, leading to a net stimulant effect. Controlled trials show that caffeine improves both mood and brain function.</blockquote>
        </reason>

        <reason title="2. Coffee Can Help You Burn Fat and Improves Physical Performance">
            <p>Cup of Coffee And Coffee Beans</p>
            <p>There’s a good reason why you will find caffeine in most commercial fat burning supplements.</p>
            <p>Caffeine, partly due to its stimulant effect on the central nervous system, both raises metabolism and increases the oxidation of fatty acids.</p>
            <p>Caffeine can also improve athletic performance by several mechanisms, including by mobilizing fatty acids from the fat tissues.</p>
            <p>In two separate meta-analyses, caffeine was found to increase exercise performance by 11-12% on average.</p>
            <blockquote>Bottom Line: Caffeine raises the metabolic rate and helps to mobilize fatty acids from the fat tissues. It can also enhance physical performance.</blockquote>
        </reason>

        <reason title="3. Coffee May Drastically Lower Your Risk of Type II Diabetes">
            <p>Doctor Pointing His Finger</p>
            <p>Type II diabetes is a lifestyle-related disease that has reached epidemic proportions, having increased 10-fold in a few decades and now afflicting about 300 million people.</p>
            <p>This disease is characterized by high blood glucose levels due to insulin resistance or an inability to produce insulin.</p>
            <p>In observational studies, coffee has been repeatedly associated with a lower risk of diabetes. The reduction in risk ranges from 23% all the way up to 67%.</p>
            <p>A massive review article looked at 18 studies with a total of 457.922 participants. Each additional cup of coffee per day lowered the risk of diabetes by 7%. The more coffee people drank, the lower their risk.</p>
            <blockquote>Bottom Line: Drinking coffee is associated with a drastically reduced risk of type II diabetes. People who drink several cups per day are the least likely to become diabetic.</blockquote>
        </reason>

        <reason title="4. Coffee May Lower Your Risk of Alzheimer’s and Parkinson’s">
            <p>Not only can coffee make you smarter in the short term, it may also protect your brain in old age.</p>
            <p>Alzheimer’s disease is the most common neurodegenerative disorder in the world and a leading cause of dementia.</p>
            <p>In prospective studies, coffee drinkers have up to a 60% lower risk of Alzheimer’s and dementia.</p>
            <p>Parkinson’s is the second most common neurodegenerative disorder, characterized by death of dopamine-generating neurons in the brain. Coffee may lower the risk of Parkinson’s by 32-60%.</p>
            <blockquote>Bottom Line: Coffee is associated with a much lower risk of dementia and the neurodegenerative disorders Alzheimer’s and Parkinson’s.</blockquote>
        </reason>

        <reason title="5. Coffee May be Extremely Good For Your Liver">
            <p>Woman Drinking a Cup of Coffee</p>
            <p>The liver is a remarkable organ that carries out hundreds of vital functions in the body.</p>
            <p>It is very vulnerable to modern insults such as excess consumption of alcohol and fructose.</p>
            <p>Cirrhosis is the end stage of liver damage caused by diseases like alcoholism and hepatitis, where liver tissue has been largely replaced by scar tissue.</p>
            <p>Multiple studies have shown that coffee can lower the risk of cirrhosis by as much as 80%, the strongest effect for those who drank 4 or more cups per day.</p>
            <p>Coffee may also lower the risk of liver cancer by around 40%.</p>
            <blockquote>Bottom Line: Coffee appears to be protective against certain liver disorders, lowering the risk of liver cancer by 40% and cirrhosis by as much as 80%.</blockquote>
        </reason>

        <reason title="6. Coffee May Decrease Your Risk of Premature Death">
            <p>Many people still seem to think that coffee is unhealthy.</p>
            <p>This isn’t surprising though, since it is very common for conventional wisdom to be at exact odds with what the actual studies say.</p>
            <p>In two very large prospective epidemiological studies, drinking coffee was associated with a lower risk of death by all causes.</p>
            <p>This effect is particularly profound in type II diabetics, one study showing that coffee drinkers had a 30% lower risk of death during a 20 year period.</p>
            <blockquote>Bottom Line: Coffee consumption has been associated with a lower risk of death in prospective epidemiological studies, especially in type II diabetics.</blockquote>
        </reason>

        <reason title="7. Coffee is Loaded With Nutrients and Antioxidants">
            <p>Cup of Coffee</p>
            <p>Coffee isn’t just black water.</p>
            <p>Many of the nutrients in the coffee beans do make it into the final drink, which actually contains a decent amount of vitamins and minerals.</p>
            <p>A cup of coffee contains:</p>
            <ul>
                <li>6% of the RDA for Pantothenic Acid (Vitamin B5).</li>
                <li>11% of the RDA for Riboflavin (Vitamin B2).</li>
                <li>2% of the RDA for Niacin (B3) and Thiamine (B1).</li>
                <li>3% of the RDA for Potassium and Manganese.</li>
                <li>May not seem like much, but if you drink several cups of coffee per day then this quickly adds up.</li>
            </ul>
            <p>But this isn’t all. Coffee also contains a massive amount of antioxidants.</p>
            <p>In fact, coffee is the biggest source of antioxidants in the western diet, outranking both fruits and vegetables combined.</p>
            <blockquote>Bottom Line: Coffee contains a decent amount of several vitamins and minerals. It is also the biggest source of antioxidants in the modern diet.</blockquote>
        </reason>
    </div>
</div>