<div class="container contact-us" ng-controller="ContactController">
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 contact-us-form">
            <h2>Contact</h2>
            <h5>If you have business inquiries or other questions, please fill out the following form to contact me. Thank you.</h5>
            <form novalidate name="contactForm" class="form-container">
                <div class="col-xs-12 form-group contact-us-inner">
                    <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                        <label class="control-label">Name</label>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <input ng-model="form.name" name="name" type="text" class="span6" placeholder="Enter your name..." required />
                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9">
                        <span ng-show="contactForm.name.$error.required" class="help-inline">Required</span>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                        <label class="control-label">Email</label>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <input ng-model="form.email" name="email" type="email" class="span6" placeholder="Enter your email..." required />
                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9">
                        <span ng-show="contactForm.email.$error.required" class="help-inline">Required</span>
                        <span ng-show="contactForm.email.$error.email" class="help-inline">Invalid</span>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                        <label class="control-label">Website</label>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <input ng-model="form.website" name="website" type="text" class="span6" placeholder="Enter your website..." />
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                        <label class="control-label" for="subjectField">Subject</label>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <select ng-model="form.subject" name="subject" id="subjectField" class="span6" required>
                            <option>Error</option>
                            <option>Enhancement</option>
                            <option>Question</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9">
                        <span ng-show="contactForm.subject.$error.required" class="help-inline">Required</span>
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                        <label class="control-label" for="message">Your message</label>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <textarea ng-model="form.message" name="message" class="input-xlarge span11" id="message" rows="5" placeholder="Enter your message..." required></textarea>
                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9">
                        <span ng-show="contactForm.message.$error.required" class="help-inline">Required</span>
                    </div>
                </div>

                <div class="form-actions">
                    <button ng-click="sendForm()" ng-disabled="contactForm.$invalid || submitButtonDisabled" class="btn btn-primary">Send message &raquo;</button>
                    <button ng-click="resetForm()" class="btn btn-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>