<div class="container">
    <div class="col-xs-12 section-top">
        <h1>Coffeenator has <span class="label label-info">{{coffee.length}}</span> items of coffee</h1>
        <hr>
        <h4>Which one is right for you?</h4>
        <h4>Answer the questions below to discover your ideal coffee.</h4>
        <hr>
    </div>
</div>
<div class="container">
    <div class="col-sm-8 col-md-9 section-first">
        <div class="panel-group" id="accordion">
            <!--additives-->
            <div class="panel panel-primary question">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title">
                        <i class="fa fa-tag" aria-hidden="true"></i>Flavor Additives
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h4>What flavors do you prefer to add in coffee?</h4>
                        <div class="row">
                            <div ng-repeat="additive in additives">
                                <flavor-additives additive="additive" choosen="chooseAdditive(additive)"></flavor-additives>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--type of coffee-->
            <div class="panel panel-primary question">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>Type of coffee
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>What type of coffee would you prefer to use?</h4>
                        <div class="col-xs-12">
                            <form name="typeOfCoffeeForm">
                                <ul>
                                    <li>
                                        <input type="radio" id="type-gr" ng-model="search.type" value="Ground coffee">
                                        <label for="type-gr">Ground coffee</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="type-be" ng-model="search.type" value="Coffee beans">
                                        <label for="type-be">Coffee beans</label>
                                        <div class="check"><div class="inside"></div></div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--roast-->
            <div class="panel panel-primary question">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <h4 class="panel-title">
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i>How strong?
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>How strong do you tend to like your coffee?</h4>
                        <div class="col-xs-12 radios">
                            <form name="strong">
                                <ul>
                                    <li>
                                        <input type="radio" id="str-1" ng-model="search.roasted" value="Light roast">
                                        <label for="str-1">Mild taste and aroma</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="str-2" ng-model="search.roasted" value="Medium roast">
                                        <label for="str-2">Medium taste and aroma</label>
                                        <div class="check"><div class="inside"></div></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="str-3" ng-model="search.roasted" value="Heavy roast">
                                        <label for="str-3">Strong taste and aroma</label>
                                        <div class="check"><div class="inside"></div></div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--size-->
            <div class="panel panel-primary question">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <h4 class="panel-title">
                        <i class="fa fa-coffee" aria-hidden="true"></i>How do you like your coffee served?
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>How do you like your coffee served?</h4>
                        <div class="col-xs-12">
                            <form name="served">
                                <ul>
                                    <li>
                                        <input type="radio" id="cup-1" ng-model="search.cupSize" value="short">
                                        <label for="cup-1">A Short shot</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="cup-2" ng-model="search.cupSize" value="medium">
                                        <label for="cup-2">A medium sized cup</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="radio" id="cup-3" ng-model="search.cupSize" value="tall">
                                        <label for="cup-3">A tall cup full</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--price-->
            <div class="panel panel-primary question">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <h4 class="panel-title">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>Price
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>How much money do you ready to spend on coffee?</h4>
                        <div class="col-xs-12">
                            <form name="served">
                                <ul>
                                    <li>
                                        <input type="radio" id="price-1" ng-model="search.price" value="1$">
                                        <label for="price-1">$</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="price-2" ng-model="search.price" value="2$">
                                        <label for="price-2">$$</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="radio" id="price-3" ng-model="search.price" value="3$">
                                        <label for="price-3">$$$</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3 section-first">
        <div class="panel-group">
            <div class="panel panel-success" ng-show="choosenAdditives.length || search.type || search.roasted || search.cupSize || search.price" ng-mouseover="showCount()" ng-mouseleave="hideCount()">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Result
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="section-result">
                        <div class="result-row" ng-show="choosenAdditives.length">
                            <div class="col-xs-3">
                                <div class="row">
                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <p>{{choosenAdditives}}</p>
                            </div>
                        </div>
                        <div class="result-row" ng-show="search.type">
                            <div class="col-xs-3">
                                <div class="row">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <p>{{search.type}}</p>
                            </div>
                        </div>
                        <div class="result-row" ng-show="search.roasted">
                            <div class="col-xs-3">
                                <div class="row">
                                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <p>{{search.roasted}}</p>
                            </div>
                        </div>
                        <div class="result-row" ng-show="search.cupSize">
                            <div class="col-xs-3">
                                <div class="row">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <p>{{search.cupSize}}</p>
                            </div>
                        </div>
                        <div class="result-row" ng-show="search.price">
                            <div class="col-xs-3">
                                <div class="row">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <p>{{search.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer result-footer">
                    <p class="count">Current items: {{filteredList.length}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid section-second">
        <div class="col-xs-6">
            <!--<div ng-repeat="item in coffee">-->
            <div class="col-xs-12 col-sm-6" ng-repeat="item in filteredList = (filteredCoffee(coffee) | filter:search)">
                <item-info info="item" on-click="zoomItem(item)"></item-info>
            </div>
        </div>
        <current-item item="currentZoomItem" close="hideZoomItem()" ng-show="currentZoomItem"></current-item>
    </div>
</div>