<!--menu-->
<div class="header_top"></div>
<div class="ctrl" ng-controller="MenuController">
    <div class="menu">
        <header class="container">
            <div class="navbar navbar-inner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img class="logo" src="images/static/logo.png" alt="Coffeenator">
                    </div>
                    <div class="collapse navbar-collapse pull-right" id="main-menu">
                        <ul class="nav">
                            <li class="fadeInDown animated d1 "><a href="/" class="active" id="home" menuid="0" followlink="true">Home</a></li>
                            <li class="fadeInDown animated d2"><a ng-click="reloadRoute()" ng-mouseenter="addSpinner()" ng-mouseleave="removeSpinner()"><i class="fa fa-refresh fa-3x" aria-hidden="true"></i></a></li>
                            <li class="fadeInDown animated d2"><a href="/about" menuid="1" followlink="true">About</a></li>
                            <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true">Blog</a></li>
                            <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true" ng-click="ShowHide()">Contact Us</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
    </div>
    <!-- Contact Us-->
    <div class="container contact-us" ng-controller="ContactController" ng-hide="IsHidden">
        <div class="row">
            <div class="col-xs-12 col-md-offset-6 col-md-6 contact-us-form">
                <form novalidate name="contactForm" class="form-container">
                    <div class="col-xs-12 form-group contact-us-inner">
                        <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                            <label class="control-label">Name</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input ng-model="form.name" name="name" type="text" class="span6" placeholder="Enter your name..." required />
                        </div>
                        <div class="col-xs-12 col-md-offset-3 col-md-9">
                            <span ng-show="contactForm.name.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                            <label class="control-label">Email</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input ng-model="form.email" name="email" type="email" class="span6" placeholder="Enter your email..." required />
                        </div>
                        <div class="col-xs-12 col-md-offset-3 col-md-9">
                            <span ng-show="contactForm.email.$error.required" class="help-inline">Required</span>
                            <span ng-show="contactForm.email.$error.email" class="help-inline">Invalid</span>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                            <label class="control-label">Website</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input ng-model="form.website" name="website" type="text" class="span6" placeholder="Enter your website..." />
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                            <label class="control-label" for="subjectField">Subject</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <select ng-model="form.subject" name="subject" id="subjectField" class="span6" required>
                                <option>Error</option>
                                <option>Enhancement</option>
                                <option>Question</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-offset-3 col-md-9">
                            <span ng-show="contactForm.subject.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="hidden-xs hidden-sm col-md-3 text-wrap">
                            <label class="control-label" for="message">Your message</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <textarea ng-model="form.message" name="message" class="input-xlarge span11" id="message" rows="5" placeholder="Enter your message..." required></textarea>
                        </div>
                        <div class="col-xs-12 col-md-offset-3 col-md-9">
                            <span ng-show="contactForm.message.$error.required" class="help-inline">Required</span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button ng-click="sendForm()" ng-disabled="contactForm.$invalid || submitButtonDisabled" class="btn btn-primary">Send message &raquo;</button>
                        <button ng-click="resetForm()" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .contact-us{
        margin-top: -15px;

    }
    .contact-us-form{
        background: #d7e1eb;
        padding: 5px 10px;
    }
    .contact-us-inner{
        margin-top: 15px;
    }
    .help-inline {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #737373;
    }
    .text-wrap{
        text-align: right;
    }
    .control-label{
        color: #2e3373;
        padding-top: 5px;
    }
    .span6, .span11{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .span11{
        height: 100px;
    }

</style>
<!--end-menu-->